@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

body {
  margin: 0;
  font-family: 'Oxygen',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img-container {
  width: 50%;
  margin: 2rem auto;
  img {
    max-width: 100%;
  }
}

/* Form Styles */
form {
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
  margin: 1rem auto;
  background: lightgrey;
  
  div {
    margin: 0.25rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  label {
    padding-right: 0.25rem;
  }
  legend {
    align-self: center;
    font-size: 2rem;
    padding: 0.5rem;
  }
  button {
    align-self: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    padding: 0.25rem 0.5rem;
    transition: all 0.2 ease-in-out;
    &:hover {
      font-style: italic;
      transform: scale(1.2);
    }
    &:active {
      transform: translateY(0.5rem);
    }
  }
  input {
    width: 45%;
    border: none;
    outline: none;
  }
  #imgSelection {
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    padding: 0.25rem;
    transition: all 0.2 ease-in-out;
    &:hover {
      font-style: italic;
      transform: scale(1.1);
    }
  }

  input[placeholder] {
    font-family: 'Oxygen', sans-serif;
    padding: 0.5rem;
  }
}

/* Footer Styles */
footer {
  background-color: #282c34;
  color: white;
  padding: 3rem;
}